#featured {
  img {
    height: 100%;
    object-fit: cover;
  }
  
  .card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &::before {
      background: linear-gradient(
        180deg, 
        transparent 0%,
        #020617 100%
      );
      content: "";
      inset: 0;
      position: absolute;
      top: 50%;
    }

    figcaption {
      bottom: 0;
      padding: 24px;
      position: absolute;

      h2 {
        margin-top: 8px;
      }
    }
  }
}