section header {
  border-top: 1px solid var(--stroke-color);
  font: var(--text-span);
  padding-block: 12px 24px;

  a {
    align-items: center;
    gap: 4px;
    justify-self: end;

    span {
      background-image: url("../assets/icons/ArrowRight.svg");
      height: 16px;
      width: 16px;
    }

    &:hover span {
      background-image: url("../assets/icons/ArrowRightHover.svg");
    }
  }
}

#featured {
  grid-area: featured;

  img {
    height: 100%;
    object-fit: cover;
  }
  
  .card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &::before {
      background: linear-gradient(
        180deg, 
        transparent 0%,
        #020617 100%
      );
      content: "";
      inset: 0;
      position: absolute;
      top: 50%;
    }

    figcaption {
      bottom: 0;
      padding: 24px;
      position: absolute;

      &:has(.text-lg) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }
  }
}

@media (width <= 540px) {
  #featured {  
    grid-auto-flow: row;

    & .card {
      & figcaption {
        padding: 16px;
      }
    }

    & figure:first-child {
      & img {
        height: 416px;
        object-fit: cover;
      }
    }

    & div:nth-child(2) {
      grid-template-columns: 100%;

      & figure img {
        height: 200px;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

@media (540px < width < 1024px) {
  #featured {
    grid-auto-flow: row;

    & .card {
      & figcaption {
        padding: 16px;
      }
    }
  }
}

#weekly {
  grid-area: weekly;

  & > div {
    grid-template-columns: repeat(4, 292px);
  }

  img {
    height: 160px;
  }

  figure {
    position: relative;

    .content-tag {
      left: 8px;
      position: absolute;
      top: 8px;
    }

    p {
      font-weight: 800;
      margin-top: 8px;
    }
  }
}

@media (width <= 425px) {
  #weekly { 
    & > div {
      gap: 32px;
      grid-template-columns: 100%;

      & figure img {
        object-fit: cover;
        width: 100%;
      } 
    }
  }
}

@media (425px < width < 1280px) {
  #weekly {
    & > div {
      grid-template-columns: repeat(2, 1fr);

      & figure img {
        object-fit: cover;
        width: 100%;
      } 
    }
  }
}

#ai {
  grid-area: ai;

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 176px;
  }

  h3 {
    margin-block: 8px 4px;
  }
}

@media (width < 768px) {
  #ai {
    & article {

      & div:nth-child(1) {
        grid-column: 2;
      }

      & div:nth-child(2) {
        grid-column: 1;
      }

      & img {
        width: 80px;
      }
    }
  }
}

aside {
  grid-area: aside;
}

#more {
  margin-top: 32px;

  & article {   
    & h3 {
      margin-top: 8px;
    }
  
    & img {
      aspect-ratio: 1/1;
      object-fit: cover;
      width: 72px;
    }
  }
}