section header {
  border-top: 1px solid var(--stroke-color);
  font: var(--text-span);
  padding-block: 12px 24px;

  a {
    align-items: center;
    gap: 8px;
    justify-self: end;

    span {
      background-image: url("../assets/icons/ArrowRight.svg");
      height: 16px;
      width: 16px;
    }

    &:hover span {
      background-image: url("../assets/icons/ArrowRightHover.svg");
    }
  }
}

#featured {
  img {
    height: 100%;
    object-fit: cover;
  }
  
  .card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;

    &::before {
      background: linear-gradient(
        180deg, 
        transparent 0%,
        #020617 100%
      );
      content: "";
      inset: 0;
      position: absolute;
      top: 50%;
    }

    figcaption {
      bottom: 0;
      padding: 24px;
      position: absolute;

      &:has(.text-lg) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }
  }
}

#weekly {
  &>div {
    grid-template-columns: repeat(4, 292px);
  }

  img {
    height: 160px;
  }

  figure {
    position: relative;

    .content-tag {
      left: 8px;
      position: absolute;
      top: 8px;
    }

    p {
      font-weight: 800;
      margin-top: 8px;
    }
  }
}